/* universal selector */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* navigation bar  */

.top_menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
}

/* the logo section */

.logo {
  display: flex;
  margin: 20px;
}
.menu1 {
  display: flex;
}
.menu1 li {
  list-style: none;
  padding: 8px 12px;
}
/* section with login and create options */

.search_menu {
  display: flex;
  margin: 20px;
}
.search {
  border-radius: 25px;
  padding: 8px 12px;
  background-color: rgb(245, 244, 242);
}
.search input {
  border-style: none;
  background-color: rgb(245, 244, 242);
}
.login1 {
  display: flex;
}
.login1 li {
  list-style: none;
  padding: 8px 12px;
}
.login1 .create {
  background-color: rgb(232, 91, 70);
  border-radius: 25px;
  color: white;
}

/* Landing section  */

.landing_section {
  display: flex;
  background-color: rgb(20, 21, 24);
  width: 100%;
  justify-content: center;
  height: 618px;
}
/* the first sub-part */
.subsection_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 72rem;
}

/* contains the heading and the small paragraphs */
.main_paragraph {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin: 1.5rem;
  padding-right: 2rem;
  width: 50%;
}
.page_title {
  text-align: left;
  position: relative;
  font-weight: 700 !important;
  font-size: 2em;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.brief_intro {
  font-weight: 400 !important;
  font-size: 1.15rem !important;
  line-height: 1.5 !important;
}
.small_essay {
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
/* the small red icon */

.create2 {
  background-color: rgb(232, 91, 70);
  border-radius: 25px;
  color: white;
  max-width: 40%;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem !important;
  font-weight: 500;
}
/*background image */
.main_photo {
  width: 50%;
  overflow: hidden;
}

/* second subsection */
.second_landing {
  display: flex;
  width: 100%;
  justify-content: center;
}
.second_subsection {
  display: flex;
  justify-content: space-evenly;
  max-width: 72rem;
  width: 100%;
  height: 435px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.profile_pic {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.small_intro {
  width: 50%;
  font-size: 1.2rem !important;
}
